<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AquaWorld</title>
		<link rel="stylesheet" href="static/style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
	</head>

	<body>
		<nav class="nav-bar">
			<img src="static/img/logo.svg" class="logo" alt="logo">
			<p class="nav-text">Изготовление аквариумов по инидивидуальным размерам</p>
		</nav>

		<div class="img-absolute-pos">
			<img src="static/img/seaweed.svg" alt="seaweed" class="seaweed-img">
			<img src="static/img/fish.svg" alt="fish" class="fish-img">
		</div>

		<div class="content">
			<div class="content-block">
				<span class="first-section-text first-name">Изготовление</span>
				<span class="first-section-text second-name">Аквариумов</span>
				<div class="vector-class">
					<img src="static/img/vector.svg" alt="vector">
				</div>
				<p class="third-name">Оставьте заявку и получите бесплатную консультацию</p>
				<div class="flex-container-button">
					<input type="button" value="Заявка" autofocus onclick="window.location.href = '#anchor';" class="button-style">
					<img src="static/img/marker-button.svg" alt="">
				</div>

			</div>

			<div class="content-block">
				<div class="background-block">
					<div class="sec-bl-content">
						<img src="static/img/aquarium1.svg" alt="aquarium1">
						<div class="text-block">
							<p class="sec-sect-first-row-text">
								Не знаете, какой<br/>аквариум выбрать?
							</p>

							<p class="sec-sect-first-row-text-2">
								Создайте его сами!
							</p>

							<p class="sec-sect-first-row-text-3">
								Обратитесь к нам в магазин с<br/>
								желаемыми размерами будущего дома<br/>
								для рыб и мы сделаем его за Вас.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="content-block">
				<div class="background-block">
					<div class="sec-bl-content">
						<div class="text-block">
							<p class="sec-sect-first-row-text" style="margin-bottom: 1em; margin-top: 0;">
								А ещё вас ждёт<br/>
								приятный бонус
							</p>
							<p class="sec-sect-first-row-text-3">
								при заказе аквариума - месяц его<br/>
								обслуживания бесплатно
							</p>
						</div>
						<img src="static/img/aquarium2.svg" alt="aquarium2">
					</div>
				</div>
			</div>
		</div>

		<div class="form-parent-block">
			<div class="form-block">
				<form action="" id="anchor">
					<h3>
						Оставьте заявку<br>
						на иготовление аквариума
					</h3>
					<input type="text" placeholder="Ваша фамилия" name="surname"><br>
					<input type="text" placeholder="Ваше имя" name="name"><br>
					<input type="text" placeholder="Номер телефона" name="telephone"><br>
					<input type="text" placeholder="Почта" name="e-mail"><br>
					<input type="button" onclick="window.location.href = '/add_page/';" value="Далее">
				</form>
				<img src="static/img/Хирург 1.svg" alt="">
			</div>
		</div>

		<footer>
			<p class="footer-text">Изготовление аквариумов по инидивидуальным размерам</p>
			<p class="footer-text">© 2020 Все права защищены.</p>
		</footer>
	</body>
</html>