{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'add_page.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">

	<title>AquaWorld</title>
</head>
<body>
	<div class="form-parent-block">
			<div class="form-block">
				<form action="">
					<h3>
						Введите желаемые<br>
						параметры аквариума
					</h3>
					<input type="text" placeholder="Длина аквариума" name="surname"><br>
					<input type="text" placeholder="Ширина авкариума" name="name"><br>
					<input type="text" placeholder="Высота аквариума" name="telephone"><br>
					<textarea placeholder="Спецификация*"></textarea><br>
					<input type="submit" value="Отправить">
				</form>
				<img src="static/img/Хирург 1.svg" alt="">
			</div>
		</div>
</body>
</html>